<h1>Listing alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Curp</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Sexo</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Fecha de registro</th>
      <th>Tipo de sangre</th>
      <th>Nombre tutor</th>
      <th>Telefono tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.curp %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido_paterno %></td>
        <td><%= alumno.apellido_materno %></td>
        <td><%= alumno.sexo %></td>
        <td><%= alumno.direccion %></td>
        <td><%= alumno.telefono %></td>
        <td><%= alumno.fecha_de_registro %></td>
        <td><%= alumno.tipo_de_sangre %></td>
        <td><%= alumno.nombre_tutor %></td>
        <td><%= alumno.telefono_tutor %></td>
        <td><%= link_to 'Show', alumno %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno', new_alumno_path %>
