<p id="notice"><%= notice %></p>

<p>
  <strong>Curp:</strong>
  <%= @alumno.curp %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @alumno.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @alumno.apellido_materno %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @alumno.sexo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @alumno.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @alumno.telefono %>
</p>

<p>
  <strong>Fecha de registro:</strong>
  <%= @alumno.fecha_de_registro %>
</p>

<p>
  <strong>Tipo de sangre:</strong>
  <%= @alumno.tipo_de_sangre %>
</p>

<p>
  <strong>Nombre tutor:</strong>
  <%= @alumno.nombre_tutor %>
</p>

<p>
  <strong>Telefono tutor:</strong>
  <%= @alumno.telefono_tutor %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
