<h1>Listing profesors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre prof</th>
      <th>Apellido pat prof</th>
      <th>Apellido mat prof</th>
      <th>Observaciones</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesors.each do |profesor| %>
      <tr>
        <td><%= profesor.nombre_prof %></td>
        <td><%= profesor.apellido_pat_prof %></td>
        <td><%= profesor.apellido_mat_prof %></td>
        <td><%= profesor.observaciones %></td>
        <td><%= profesor.area %></td>
        <td><%= link_to 'Show', profesor %></td>
        <td><%= link_to 'Edit', edit_profesor_path(profesor) %></td>
        <td><%= link_to 'Destroy', profesor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesor', new_profesor_path %>
