<h1>Lista de Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Curp</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Sexo</th>
      <th>Fecha de nacimiento</th>
      <th>Dirección</th>
      <th>Telefono</th>
      <th>Fecha de registro</th>
      <th>Tipo de sangre</th>
      <th>Nombre del tutor</th>
      <th>Telefono del tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.curp %></td>
        <td><%= student.nombre %></td>
        <td><%= student.apellido_paterno %></td>
        <td><%= student.apellido_materno %></td>
        <td><%= student.sexo %></td>
        <td><%= student.fecha_de_nac %></td>
        <td><%= student.direccion %></td>
        <td><%= student.telefono %></td>
        <td><%= student.fecha_de_registro %></td>
        <td><%= student.tipo_de_sangre %></td>
        <td><%= student.nombre_tutor %></td>
        <td><%= student.telefono_tutor %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Eliminar', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Alumno', new_student_path %>
