<p id="notice"><%= notice %></p>

<p>
  <strong>Curp:</strong>
  <%= @student.curp %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @student.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @student.apellido_materno %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @student.sexo %>
</p>

<p>
  <strong>Fecha de nac:</strong>
  <%= @student.fecha_de_nac %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @student.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @student.telefono %>
</p>

<p>
  <strong>Fecha de registro:</strong>
  <%= @student.fecha_de_registro %>
</p>

<p>
  <strong>Tipo de sangre:</strong>
  <%= @student.tipo_de_sangre %>
</p>

<p>
  <strong>Nombre tutor:</strong>
  <%= @student.nombre_tutor %>
</p>

<p>
  <strong>Telefono tutor:</strong>
  <%= @student.telefono_tutor %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
