<%= form_for(@pay) do |f| %>
  <% if @pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay.errors.count, "error") %> prohibited this pay from being saved:</h2>

      <ul>
      <% @pay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4>Pago</h4><hr>
    <div class="form-group">
        <P ALIGN=right><%= f.label :tipo_pago, class: "col-sm-2 col-sm-2 control-label" %>
        <div class="col-sm-4">
            <!--<%=f.text_field :tipo_pago, class: "form-control" %>-->
            <%= f.select :tipo_pago, options_for_select([["Uno", "1"], ["Dos", "2"],["Tres","3"]]) %>
            <br>
            <br>
        </div>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
