<h1>Lista de pagos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pays.each do |pay| %>
      <tr>
        <td><%= pay.tipo_pago %></td>
        <td><%= link_to ' |Ver| ', pay %></td>
        <td><%= link_to ' |Editar| ', edit_pay_path(pay) %></td>
        <td><%= link_to ' |Destruir| ', pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' |Nuevo Pago| ', new_pay_path %>
