<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4></h4><hr>
  <div class="form-group">
    <P ALIGN=right><%= f.label :clave_taller, class: "col-sm-2 col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%=f.text_field :clave_taller, class: "form-control" %>
          <br>
      </div>
  </div>
  <div class="form-group">
    <P ALIGN=right><%= f.label :profesor_id, class: "col-sm-2 col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%=f.text_field :profesor_id, class: "form-control" %>
          <br>
      </div>
  </div>
  <div class="form-group">
    <P ALIGN=right><%= f.label :curso_id, class: "col-sm-2 col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%=f.text_field :curso_id, class: "form-control" %>
          <br>
      </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
