<h1>Lista de Talleres</h1>

<table>
  <thead>
    <tr>
      <th>Clave taller</th>
      <th>Profesor</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.clave_taller %></td>
        <td><%= lesson.profesor %></td>
        <td><%= lesson.curso %></td>
        <td><%= link_to ' |Ver| ', lesson %></td>
        <td><%= link_to ' |Editar| ', edit_lesson_path(lesson) %></td>
        <td><%= link_to ' |Destruir| ', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Taller', new_lesson_path %>
