<h1>Listing teachers</h1>

<table>
  <thead>
    <tr>
      <th>Nombre prof</th>
      <th>Apellido pat prof</th>
      <th>Apellido mat prof</th>
      <th>Observaciones</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.nombre_prof %></td>
        <td><%= teacher.apellido_pat_prof %></td>
        <td><%= teacher.apellido_mat_prof %></td>
        <td><%= teacher.observaciones %></td>
        <td><%= teacher.area %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
