<h1>Lista de Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre curso</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.nombre_curso %></td>
        <td><%= course.area %></td>
        <td><%= link_to ' |Ver| ', course %></td>
        <td><%= link_to ' |Editar| ', edit_course_path(course) %></td>
        <td><%= link_to ' |Destruir| ', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' |Nuevo Curso| ', new_course_path %>
