<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre curso:</strong>
  <%= @course.nombre_curso %>
</p>

<p>
  <strong>Area:</strong>
  <%= @course.area %>
</p>

<%= link_to ' |Editar| ', edit_course_path(@course) %> |
<%= link_to ' |Volver| ', courses_path %>
