<!DOCTYPE html>
<html>
    <head>
        <title>Casa de la Cultura</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <header>
            <nav class="be-red white large-padding">
                <ul class="no-list row center-xs middle-xs">
                    <li class="col-md">
                        <h1 class = "no-margin id = logo"> Casa de la cultura </h1>
                    </li>
                    <li class = "col-md">
                        <%= link_to "Home", root_path %>                        
                    </li>
                    <li class = "col-md">
                        Alumnos
                    </li>
                    <li class= "col-md">
                        Profesores
                    </li>
                </ul>
            </nav>
        </header>
  
    <%= yield %>

    </body>
</html>
